extends ../layouts/layout

block content
    h2 Edit Author
    if locals.errorMessage
        = errorMessage
    form(method="POST" action="/authors/" + author.id + "?_method=PUT")
      label(for="name") Name
      input(placeholder="Name", type="text" name="name" value=author.name)
      div
       a(href="/authors/" + author.id) Cancel
       button(type="submit") Update