extends ../layouts/layout

block content
 .container
    h2 Search Authors
    form(action="/authors" method="GET" )
        label(for="name") Name
        input( type="text" name="name" value=searchOptions.name)
        button(type="submit") Search
    each author in authors
      ul 
        li= author.name
          div
            a(href='/authors/' + author.id) View
            a(href='/authors/' + author.id + '/edit') Edit
            form(method="POST" action="/authors/" + author.id + "?_method=DELETE")
              button(type='submit') Delete