extends ../layouts/layout

block content
 div.container
  h2.search-author Search Authors
   form(action="/authors" method="GET" class='form-search')
      label(for="name") Name
      input( type="text" name="name" value=searchOptions.name)
      button(type="submit") Search
   each author in authors
     ul 
      li= author.name
      br
      div
       a(href='/authors/'+ author.id) View
       a(href='/authors/'+author.id +'/edit') Edit
       form(method="POST" action="/authors/" + author.id + "?_method=DELETE")
         button(type='submit') Delete