doctype html
html
  head
    title Books-librarys
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    link(href='https://unpkg.com/filepond/dist/filepond.css', rel='stylesheet')
    link(href='https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ../partials/header.pug
    block content