extends layouts/layout
block content
   .container
      h2 Books Store 
      each book in books
        a(href='/books/' + book.id)
         img(src=book.ImageUrl, width="200")
         h2= book.title