extends layouts/layout
block content
   div.container
      h2 Recently Added 
      each book in books
        a(href='/books/'+book.id)
         img(src=book.ImageUrl, width="200")
         h2= book.title