extends ../layouts/layout
block content
   div.container
       if locals.errorMessage
          = errorMessage
       ul
        li
         a(href="") 
          img(src=book.ImageUrl, width="200")
        li Title:
          =book.title
        li Author:
          = book.author.name  
        li Description:
          = book.description
        li PageCount:
          = book.pageCount
        li publishDate:
          = book.publishDate.toDateString()
       div    
         a(href='/books/' + book.id +'/edit') Edit
         form(method="POST" action="/books/" + book.id + "?_method=DELETE")
           button(type='submit') Delete            
         a(href='/authors/' + book.author.id) View Author