header
  .container
    .row
      nav.navbar.navbar-expand-lg.navbar-light
        a.navbar-brand(href='/')
          img.img-fluid(src='https://png.pngtree.com/templates_detail/20180917/book-library-education-logo-png_32062.jpg', width='50')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbarNavDropdown.collapse.navbar-collapse
          ul.navbar-nav.justify-content-end
            li
              a.nav-link(href="/authors") Authors
            li
              a.nav-link(href="/authors/new") Add Author
            li
              a.nav-link(href="/books") Books
            li
              a.nav-link(href="/books/new") Add Book
